footer.footer{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0px 25px;
    background-color: #fff;
    box-shadow: var(--shadow);
    font-size: 0.6em;
}
.logout{
    background-color: var(--bg-dark);
}
.logout a{
    box-shadow: var(--shadow);
    display: block;
    text-decoration: none;
    color: #000;
    font-weight: 300;
    height: 100%;
    padding: 5px 15px;
    align-items: center;
}
.logout a:hover{
    background: linear-gradient(135deg, #ffcd2a 0%, #e3b426 100%);
    text-decoration: none;
}
