aside.menu-area{
    background-color: var(--bg-dark);
    box-shadow: 
        2px 0 10px 0 rgba(0,0,0,0.12),
        2px 0 15px 0 rgba(0,0,0,0.09)
}

.menu a{
    display: block;
    text-decoration: none;
    color: #fff;
    padding: 15px;
    font-weight: 300;
}

.menu a:hover{
    background: linear-gradient(135deg, #10690D 0%, #1ECC1A 100%)
}